* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

html {
  scroll-behavior: smooth !important;
}

body {
  display: -ms-grid;
  display: grid;
  max-width: 97%;
  margin: 0 auto;
  background: #EFEFEF;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: #fbb03b;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: space-between;
  background: #fff;
}

nav .logo {
  width: 7em;
  cursor: pointer;
}

nav .btns {
  -ms-grid-column-align: end;
      justify-self: end;
}

nav .btns button {
  padding: .5em .8em;
  margin: .5em;
  color: #fff;
  background: #ad0d33;
  border: none;
  border-radius: 4px;
  font-size: .9em;
  text-transform: uppercase;
  cursor: pointer;
}

nav .btns .loginBtn {
  background: #ad0d33;
}

.offer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: reapeat(5, 1fr);
      grid-template-rows: reapeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.offer .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ff141a;
}

.offer .overlay .bgVideo {
  opacity: 0.5;
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 1026px) {
  .offer .overlay .bgVideo {
    min-width: 200%;
  }
}

@media only screen and (max-width: 716px) {
  .offer .overlay .bgVideo {
    min-width: 300%;
  }
}

.offer .txt {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  padding: 0.5em 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-bottom: 1em;
  color: #1D1A1D;
  cursor: pointer;
  background: #fff;
  z-index: 10;
}

@media only screen and (max-width: 1222px) {
  .offer .txt {
    font-size: 2em;
  }
}

.offer .titleWrap {
  width: 60%;
  margin: 0 auto;
}

.offer .hl {
  color: #fbb03b;
}

.offer .sign {
  height: 25em;
  margin: 1em 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: url("../sign.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.offer .sign p {
  color: #1D1A1D;
  font-size: 2.8em;
  text-transform: uppercase;
}

@media only screen and (max-width: 968px) {
  .offer .sign p {
    font-size: 2em;
  }
}

@media only screen and (max-width: 474px) {
  .offer .sign p {
    margin-top: 1em;
  }
}

.offer .offerBtn {
  position: relative;
  width: 10em;
  padding: .5em .8em;
  margin: .5em;
  color: #fff;
  background: #fbb03b;
  border: none;
  border-radius: 4px;
  font-size: .9em;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5em 2em;
  margin-bottom: .5em;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 10;
}

.offer .rules {
  border-top: solid .1em #000;
  color: #fff;
  text-align: center;
  padding: 1.5em 4em;
  background: #ff141a;
  z-index: 10;
}

.offer .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3em 0;
  background: #EFEFEF;
  z-index: 10;
}

@media only screen and (max-width: 619px) {
  .offer .list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

.offer .list .lTxt {
  font-size: 1.6em;
  font-weight: 600;
}

.offer .list .fa-gem {
  color: #fbb03b;
  font-size: 1.2em;
}

.popup {
  position: fixed;
  width: 97%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  bottom: -20em;
  -webkit-transition: bottom 500ms ease-in-out;
  transition: bottom 500ms ease-in-out;
  z-index: 11;
}

@media only screen and (max-width: 1335px) {
  .popup {
    max-width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .popup {
    max-width: 100%;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (0.5fr)[2];
      grid-template-rows: repeat(2, 0.5fr);
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding-top: 1em;
  color: #fff;
  background: #1D1A1D;
  z-index: 10;
}

footer .copyright {
  margin: 1em 3em;
  padding: 1em;
  color: #1D1A1D;
  background: #fff;
}

footer .copyright .y {
  color: #fbb03b;
}

footer .terms {
  text-align: left;
  margin: 1em 3em;
  padding: 1em;
  color: #1D1A1D;
  background: #fff;
}

footer .terms tr {
  margin: .5em .2em;
}

footer .terms .TermsPageInnerTable {
  margin: 1.5rem 0;
}

footer .terms .TextBold {
  margin-top: 1em;
  font-weight: 800;
}

footer .terms #tblOuterContent td {
  padding: .5em;
}
/*# sourceMappingURL=styles.css.map */